<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>

  <div class="card-body">
    <form #form="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" name="from" class="form-control" />
      </div>
      <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" name="to" class="form-control" />
      </div>
      <div class="form-group">
        <label>
          <input [(ngModel)]="urgent" name="urgent" type="checkbox" />
          Urgent (When it's urgent it fails -- like in real life ;-))
        </label>
      </div>

      <div class="form-group" *ngIf="flights">
        <button
          (click)="search()"
          [disabled]="!from || !to"
          class="btn btn-default"
        >
          Search
        </button>

        <button
          *ngIf="flights.length"
          class="btn btn-default"
          (click)="delay()"
        >
          Delay 1st Flight
        </button>

        <div>{{ flights.length }} flights found!</div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  >
    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]">
    </app-flight-card>
  </div>
</div>
